USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ServicioHistorialConsultar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Consulta el historial completo de un servicio
-- Devuelve todos los registros de Servicio relacionados con sus estados y fechas
-- =============================================
CREATE PROCEDURE [dbo].[ServicioHistorialConsultar]
    @Id_Servicio BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener Id_SolicitudServicio e Id_Oferta del servicio actual
    DECLARE @Id_SolicitudServicio BIGINT;
    DECLARE @Id_Oferta BIGINT;

    SELECT 
        @Id_SolicitudServicio = Id_SolicitudServicio,
        @Id_Oferta = Id_Oferta
    FROM Servicio
    WHERE Id_Servicio = @Id_Servicio;

    IF @Id_SolicitudServicio IS NULL OR @Id_Oferta IS NULL
    BEGIN
        RETURN;
    END

    -- Consultar todos los registros históricos del servicio
    SELECT 
        S.Id_Servicio,
        S.Id_SolicitudServicio,
        S.Id_Oferta,
        S.Id_Usuario,
        S.Id_ServicioEstado,
        S.SE_FechaModifica,
        SE.SEE_Nombre AS Estado_Nombre,
        SE.SEE_Modifica AS Estado_Modifica,
        -- Información de la solicitud
        SS.SS_Titulo,
        SS.SS_Descripcion,
        SS.SS_Direccion,
        SS.SS_FechaServicio,
        -- Información de la oferta
        O.OF_Monto,
        O.OF_Fecha AS OF_FechaOferta,
        O.OF_Comentario AS OF_Comentario,
        -- Información del comprobante si existe
        CP.Id_ComprobantePago,
        CP.CP_Comentario,
        CP.CP_FechaSubida,
        CP.CP_Confirmado,
        CP.CP_FechaConfirmacion,
        -- Información del usuario cliente
        UC.US_Nombre + ' ' + UC.US_Apellido AS Cliente_Nombre,
        -- Información del usuario proveedor
        UP.US_Nombre + ' ' + UP.US_Apellido AS Proveedor_Nombre
    FROM Servicio S
    INNER JOIN ServicioEstado SE ON S.Id_ServicioEstado = SE.Id_ServicioEstado
    LEFT JOIN SolicitudServicio SS ON S.Id_SolicitudServicio = SS.Id_SolicitudServicio
    LEFT JOIN Oferta O ON S.Id_Oferta = O.Id_Oferta
    LEFT JOIN ComprobantePago CP ON S.Id_Servicio = CP.Id_Servicio
    LEFT JOIN Usuario UC ON S.Id_Usuario = UC.Id_Usuario
    LEFT JOIN Usuario UP ON O.Id_Usuario = UP.Id_Usuario
    WHERE S.Id_SolicitudServicio = @Id_SolicitudServicio
      AND S.Id_Oferta = @Id_Oferta
    ORDER BY S.SE_FechaModifica ASC;
END
GO
