USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[OfertaCrear]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Ingresa oferta creada por el proveedor de servicios
-- =============================================
CREATE PROCEDURE [dbo].[OfertaCrear]
    @Id_SolicitudServicio BIGINT,
    @Id_Usuario BIGINT,
    @OF_Monto NUMERIC(18, 0),
	@OF_Comentario TEXT,
    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Oferta (
            Id_SolicitudServicio,
            Id_Usuario,
            OF_Monto, 
            OF_Fecha,
			OF_Comentario,
			Id_OfertaEstado
        )
        VALUES (
            @Id_SolicitudServicio,
            @Id_Usuario,
            @OF_Monto,
            GETDATE(),
			@OF_Comentario,
			1
        );

        SET @Exito = 1; -- OK
    END TRY
    BEGIN CATCH
        SET @Exito = 0; -- ERROR
    END CATCH
END
GO
