USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaOfertaSolicitud]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Consulta las ofertas de una solicitud de servicio en especifico
-- =============================================
CREATE PROCEDURE [dbo].[ConsultaOfertaSolicitud]
	@Id_SolicitudServicio BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
		Oferta.Id_Oferta,
		Oferta.OF_Monto, 
		Oferta.OF_Fecha,
		Oferta.OF_Comentario,
		Usuario.US_Nombre + ' ' + Usuario.US_Apellido AS OF_Usuario,
		5 AS OF_UsuarioCalificacion,
		Oferta.Id_Usuario AS Id_Usuario_OF
	FROM Oferta 
	INNER JOIN SolicitudServicio
		ON Oferta.Id_SolicitudServicio = SolicitudServicio.Id_SolicitudServicio
	LEFT JOIN Servicio
		ON Servicio.Id_Oferta = Oferta.Id_Oferta
	LEFT JOIN Usuario
		ON Oferta.Id_Usuario = Usuario.Id_Usuario
    WHERE SolicitudServicio.Id_SolicitudServicio = @Id_SolicitudServicio AND Oferta.Id_OfertaEstado = 1;
END

GO
