USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[CalificacionServicioConsultar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Consulta las calificaciones de un servicio
-- Solo muestra las calificaciones si el usuario ya calificó (calificaciones ciegas)
-- @Id_Servicio: ID del servicio
-- @Id_Usuario: ID del usuario que consulta (opcional, para verificar si ya calificó)
-- =============================================
CREATE PROCEDURE [dbo].[CalificacionServicioConsultar]
    @Id_Servicio BIGINT,
    @Id_Usuario BIGINT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el usuario ya calificó
    DECLARE @YaCalifico BIT = 0;
    DECLARE @Id_UsuarioACalificar BIGINT = NULL;

    IF @Id_Usuario IS NOT NULL
    BEGIN
        -- Verificar si ya calificó
        IF EXISTS (
            SELECT 1 
            FROM SolicitudServicioCalificacion 
            WHERE Id_Servicio = @Id_Servicio 
              AND Id_Usuario = @Id_Usuario
        )
        BEGIN
            SET @YaCalifico = 1;
        END

        -- Obtener a quién debería calificar (el otro participante)
        DECLARE @Id_Usuario_Cliente BIGINT;
        DECLARE @Id_Usuario_Proveedor BIGINT;
        DECLARE @Id_Oferta BIGINT;

        SELECT 
            @Id_Usuario_Cliente = s.Id_Usuario,
            @Id_Oferta = s.Id_Oferta
        FROM Servicio s
        WHERE s.Id_Servicio = @Id_Servicio;

        SELECT @Id_Usuario_Proveedor = Id_Usuario
        FROM Oferta
        WHERE Id_Oferta = @Id_Oferta;

        -- Determinar a quién debe calificar
        IF @Id_Usuario = @Id_Usuario_Cliente
        BEGIN
            SET @Id_UsuarioACalificar = @Id_Usuario_Proveedor;
        END
        ELSE IF @Id_Usuario = @Id_Usuario_Proveedor
        BEGIN
            SET @Id_UsuarioACalificar = @Id_Usuario_Cliente;
        END
    END

    -- Solo retornar calificaciones si el usuario ya calificó (calificaciones ciegas)
    IF @YaCalifico = 1 OR @Id_Usuario IS NULL
    BEGIN
        SELECT 
            c.Id_Calificacion,
            c.Id_Servicio,
            c.Id_Usuario,
            c.Id_UsuarioCalificado,
            c.CAL_Puntuacion,
            c.CAL_Comentario,
            c.CAL_Fecha,
            u_califica.US_Nombre + ' ' + u_califica.US_Apellido AS NombreCalificador,
            u_calificado.US_Nombre + ' ' + u_calificado.US_Apellido AS NombreCalificado
        FROM SolicitudServicioCalificacion c
        INNER JOIN Usuario u_califica ON c.Id_Usuario = u_califica.Id_Usuario
        INNER JOIN Usuario u_calificado ON c.Id_UsuarioCalificado = u_calificado.Id_Usuario
        WHERE c.Id_Servicio = @Id_Servicio
        ORDER BY c.CAL_Fecha DESC;
    END
    ELSE
    BEGIN
        -- Si no ha calificado, retornar tabla vacía
        SELECT 
            CAST(NULL AS BIGINT) AS Id_Calificacion,
            CAST(NULL AS BIGINT) AS Id_Servicio,
            CAST(NULL AS BIGINT) AS Id_Usuario,
            CAST(NULL AS BIGINT) AS Id_UsuarioCalificado,
            CAST(NULL AS NUMERIC(18, 0)) AS CAL_Puntuacion,
            CAST(NULL AS VARCHAR(250)) AS CAL_Comentario,
            CAST(NULL AS DATETIME) AS CAL_Fecha,
            CAST(NULL AS VARCHAR(200)) AS NombreCalificador,
            CAST(NULL AS VARCHAR(200)) AS NombreCalificado
        WHERE 1 = 0; -- Retornar tabla vacía
    END

    -- Retornar información sobre si ya calificó y a quién debe calificar
    IF @Id_Usuario IS NOT NULL
    BEGIN
        SELECT 
            @YaCalifico AS YaCalifico,
            @Id_UsuarioACalificar AS Id_UsuarioACalificar;
    END
END
GO
