USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[CalificacionServicioInsertar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Inserta una calificación para un servicio
-- El proveedor califica al cliente y el cliente califica al proveedor
-- Valida que el servicio esté completado y que el usuario no haya calificado antes
-- @Id_Servicio: ID del servicio a calificar
-- @Id_Usuario: ID del usuario que califica (cliente o proveedor)
-- @CAL_Puntuacion: Puntuación (1-5)
-- @CAL_Comentario: Comentario opcional
-- @Exito: OUTPUT - Indica si la operación fue exitosa
-- =============================================
create PROCEDURE [dbo].[CalificacionServicioInsertar]
    @Id_Servicio BIGINT,
    @Id_Usuario BIGINT,
    @CAL_Puntuacion NUMERIC(18, 0),
    @CAL_Comentario VARCHAR(250) = NULL,
    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Exito = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validar que la puntuación esté entre 1 y 5
        IF @CAL_Puntuacion < 1 OR @CAL_Puntuacion > 5
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Obtener datos del servicio
        DECLARE @Id_SolicitudServicio BIGINT;
        DECLARE @Id_Oferta BIGINT;
        DECLARE @Id_Usuario_Cliente BIGINT;
        DECLARE @Id_ServicioEstado BIGINT;
        DECLARE @Id_Usuario_Proveedor BIGINT;

        SELECT 
            @Id_SolicitudServicio = s.Id_SolicitudServicio,
            @Id_Oferta = s.Id_Oferta,
            @Id_Usuario_Cliente = s.Id_Usuario,
            @Id_ServicioEstado = s.Id_ServicioEstado
        FROM Servicio s
        WHERE s.Id_Servicio = @Id_Servicio;

        -- Verificar que el servicio existe
        IF @Id_SolicitudServicio IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Verificar que el servicio esté completado (Estado 8)
        IF @Id_ServicioEstado <> 8
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Obtener el ID del proveedor desde la oferta
        SELECT @Id_Usuario_Proveedor = Id_Usuario
        FROM Oferta
        WHERE Id_Oferta = @Id_Oferta;

        -- Verificar que el usuario que califica sea cliente o proveedor del servicio
        IF @Id_Usuario <> @Id_Usuario_Cliente AND @Id_Usuario <> @Id_Usuario_Proveedor
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Determinar a quién se está calificando
        DECLARE @Id_UsuarioCalificado BIGINT;
        IF @Id_Usuario = @Id_Usuario_Cliente
        BEGIN
            -- Cliente califica al proveedor
            SET @Id_UsuarioCalificado = @Id_Usuario_Proveedor;
        END
        ELSE
        BEGIN
            -- Proveedor califica al cliente
            SET @Id_UsuarioCalificado = @Id_Usuario_Cliente;
        END

        -- Verificar que el usuario no haya calificado a este usuario en este servicio antes
        IF EXISTS (
            SELECT 1 
            FROM SolicitudServicioCalificacion 
            WHERE Id_Servicio = @Id_Servicio 
              AND Id_Usuario = @Id_Usuario
              AND Id_UsuarioCalificado = @Id_UsuarioCalificado
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insertar la calificación
        INSERT INTO SolicitudServicioCalificacion (
            Id_Servicio,
            Id_Usuario,
            Id_UsuarioCalificado,
            CAL_Puntuacion,
            CAL_Comentario,
            CAL_Fecha
        )
        VALUES (
            @Id_Servicio,
            @Id_Usuario,
            @Id_UsuarioCalificado,
            @CAL_Puntuacion,
            @CAL_Comentario,
            GETDATE()
        );

        -- Actualizar el promedio de calificación del usuario calificado
        DECLARE @PromedioCalificacion NUMERIC(18, 2);
        SELECT @PromedioCalificacion = AVG(CAST(CAL_Puntuacion AS NUMERIC(18, 2)))
        FROM SolicitudServicioCalificacion
        WHERE Id_UsuarioCalificado = @Id_UsuarioCalificado;

        -- Actualizar la calificación en la tabla Usuario
        -- Si el cliente calificó al proveedor, actualizar Id_PuntuacionProveedor
        -- Si el proveedor calificó al cliente, actualizar Id_PuntuacionUsuario
        IF @Id_Usuario = @Id_Usuario_Cliente
        BEGIN
            -- Cliente calificó al proveedor
            UPDATE Usuario
            SET Id_PuntuacionProveedor = CAST(@PromedioCalificacion AS NUMERIC(18, 0))
            WHERE Id_Usuario = @Id_UsuarioCalificado;
        END
        ELSE
        BEGIN
            -- Proveedor calificó al cliente
            UPDATE Usuario
            SET Id_PuntuacionUsuario = CAST(@PromedioCalificacion AS NUMERIC(18, 0))
            WHERE Id_Usuario = @Id_UsuarioCalificado;
        END

        SET @Exito = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @Exito = 0;
        THROW;
    END CATCH
END
GO
