USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[BorrarImagenPerfil]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Manda las categorias para mostrar en la App
-- =============================================
CREATE PROCEDURE [dbo].[BorrarImagenPerfil]
    @Id_Usuario BIGINT,
    @Exito      BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM ImagenesTipo
    WHERE Id_Usuario = @Id_Usuario AND Id_TipoImagen = 1;

    -- Si se borró al menos 1 fila, Exito = 1, si no, 0
    SET @Exito = CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
