USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[SolicitudServicioConsulta]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Manda las solicitudes de servicio con su estado a la app (Solicitudes.jsx)
-- =============================================
CREATE PROCEDURE [dbo].[SolicitudServicioConsulta]
	@Id_Usuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT SolicitudServicio.*,
	Categoria.*,
	Usuario.US_Nombre + ' ' + Usuario.US_Apellido AS US_Nombre
    FROM SolicitudServicio
	INNER JOIN Categoria
    ON SolicitudServicio.Id_Categoria = Categoria.Id_Categoria
	LEFT JOIN Usuario
	ON SolicitudServicio.Id_Usuario = Usuario.Id_Usuario
    WHERE SolicitudServicio.SS_FechaExpira >= GETDATE() AND SolicitudServicio.Id_Usuario <> @Id_Usuario AND Id_SolicitudServicioEstado = 1;
END


GO
