USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[UsuarioConsulta]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Actualiza datos del usuario
-- =============================================
CREATE PROCEDURE [dbo].[UsuarioConsulta]
    @Id_Usuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        u.Id_Usuario,
        u.US_RUN,
        u.US_Nombre,
        u.US_Apellido,
        u.US_Email,
        u.US_Activo,
        u.US_Telefono,
        u.US_Biografia,
        u.US_FechaNac,
        u.US_FechaReg,
        u.US_Admin,
        img.IMG_Imagen  AS IMG_ImagenPerfil,
        pu.PUU_Numero   AS Califica_Usuario,
        pp.PUP_Numero   AS Califica_Proveedor,
        pr.PR_Nombre	AS US_Profesion,
        1 AS Cantidad_Servicios

    FROM Usuario u
    OUTER APPLY (
        SELECT TOP 1          
            i.IMG_Imagen
        FROM ImagenesTipo r
        INNER JOIN Imagen i 
            ON i.Id_imagen = r.Id_imagen
        WHERE r.Id_Usuario = u.Id_Usuario
          AND r.Id_TipoImagen = 1   -- Perfil
        ORDER BY i.IMG_Fecha DESC, i.Id_imagen DESC
    ) img
    LEFT JOIN PuntuacionProveedor pp 
        ON u.Id_PuntuacionProveedor = pp.Id_PuntuacionProveedor
    LEFT JOIN PuntuacionUsuario pu 
        ON u.Id_PuntuacionUsuario = pu.Id_PuntuacionUsuario
	LEFT JOIN Profesion pr 
        ON u.Id_Profesion = pr.Id_Profesion
    WHERE u.Id_Usuario = @Id_Usuario;
END

GO
