USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ComprobantePagoImagenesConsultar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Consulta las imágenes de un comprobante de pago
-- NOTA: Este SP requiere que ImagenesTipo tenga el campo Id_ComprobantePago
-- =============================================
CREATE PROCEDURE [dbo].[ComprobantePagoImagenesConsultar]
    @Id_ComprobantePago BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Imagen.Id_Imagen,
        Imagen.IMG_Imagen,
        Imagen.IMG_Archivo,
        Imagen.IMG_Fecha
    FROM ImagenesTipo IT
    INNER JOIN Imagen ON IT.Id_imagen = Imagen.Id_Imagen
    WHERE IT.Id_ComprobantePago = @Id_ComprobantePago
    ORDER BY Imagen.IMG_Fecha ASC;
END
GO
