USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[UsuarioAutenticar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Verifica autenticacion de usuario y devuelve true o false
-- =============================================
CREATE PROCEDURE [dbo].[UsuarioAutenticar]
    @Email     VARCHAR(50),
    @Password  VARCHAR(250),
    @Exito     BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ContrasenaBD VARCHAR(200);

    -- normaliza email
    SET @Email = LOWER(TRIM(@Email));

    SELECT @ContrasenaBD = US_Contrasena
    FROM dbo.Usuario
    WHERE LOWER(US_Email) = @Email;

    IF @ContrasenaBD IS NULL
    BEGIN
        SET @Exito = 0; 
        RETURN;
    END

    IF @ContrasenaBD = @Password  -- ojo: que coincida el formato (hash vs texto)
    BEGIN
        SET @Exito = 1;

        -- Resultset con los datos:
        SELECT 
            Id_Usuario		AS UsuarioId,
            US_Nombre		AS Nombre,
            US_Apellido		AS Apellido,
            US_RUN			AS Rut,
            US_Email		AS Correo,
            US_Telefono		AS Telefono,
            US_FechaNac		AS FechaNacimiento,
            US_FechaReg		AS FechaRegistro,
            US_Activo		AS Activo,
            US_Biografia	AS Biografia,
			US_Admin		AS 'Admin'
        FROM dbo.Usuario
        WHERE LOWER(US_Email) = @Email;
    END
    ELSE
    BEGIN
        SET @Exito = 0; 
    END
END;
GO
