USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaOfertaEstados]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Envia los estados de la oferta
-- =============================================
CREATE PROCEDURE [dbo].[ConsultaOfertaEstados]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM OfertaEstado
END
GO
