USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[SolicitudServicioConsultaUsuario]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Manda las solicitudes de servicio con su estado a la app (Solicitudes.jsx)
-- =============================================
CREATE PROCEDURE [dbo].[SolicitudServicioConsultaUsuario]
    @Id_Usuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        SolicitudServicio.*,
        CASE
            WHEN SolicitudServicio.SS_FechaExpira IS NULL THEN 'Vigente'
            WHEN CONVERT(date, SolicitudServicio.SS_FechaExpira) < CONVERT(date, GETDATE()) THEN 'Vencida'
            ELSE 'Vigente'
        END AS Estado
    FROM dbo.SolicitudServicio
    WHERE SolicitudServicio.Id_Usuario = @Id_Usuario;
END

GO
