USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[SolicitudServicioCrear]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description:	Verifica autenticacion de usuario y devuelve true o false
-- =============================================

CREATE PROCEDURE [dbo].[SolicitudServicioCrear]
    @Id_Usuario BIGINT, 
    @Id_Categoria BIGINT,
    @Id_Comuna BIGINT,
    @SS_FechaServicio DATETIME,
    @SS_Titulo VARCHAR(250), 
    @SS_Descripcion VARCHAR(MAX), 
    @SS_Latitud DECIMAL(10, 8),
    @SS_Longitud DECIMAL(11, 8),
    @SS_Contacto NUMERIC(18, 0), 
    @SS_Direccion VARCHAR(MAX),  
    @SS_FechaExpira DATETIME,

    @Imagenes dbo.TVP_ImagenSolicitudServicio READONLY,

    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdSolicitudCreada BIGINT;

    BEGIN TRY
        BEGIN TRAN;

        INSERT INTO SolicitudServicio (
            Id_Servicio, 
            Id_Usuario, 
            Id_Categoria, 
            Id_Comuna, 
            SS_FechaCreacion, 
            SS_FechaServicio, 
            SS_Descripcion, 
            SS_Titulo, 
            SS_Latitud, 
            SS_Longitud, 
            SS_Contacto, 
            SS_Direccion, 
            SS_FechaLimiteOF, 
            SS_FechaExpira,
			Id_SolicitudServicioEstado
        ) VALUES (
            NULL,
            @Id_Usuario, 
            @Id_Categoria,
            @Id_Comuna,
            GETDATE(),
            @SS_FechaServicio,
            @SS_Descripcion, 
            @SS_Titulo, 
            @SS_Latitud,
            @SS_Longitud,
            @SS_Contacto, 
            @SS_Direccion, 
            DATEADD(DAY, -1, @SS_FechaServicio), 
            @SS_FechaExpira,
			1
        );

        SET @IdSolicitudCreada = SCOPE_IDENTITY();

        -- Si el TVP trae imágenes, insertarlas y capturar sus IDs
        IF EXISTS (SELECT 1 FROM @Imagenes)
        BEGIN
            DECLARE @ImgsInsertadas TABLE (Id_imagen BIGINT);

            INSERT INTO Imagen (IMG_Imagen, IMG_Archivo, IMG_Fecha)
            OUTPUT INSERTED.Id_Imagen INTO @ImgsInsertadas
            SELECT IMG_Imagen, IMG_Archivo, GETDATE()
            FROM @Imagenes;

            -- Relacionar cada imagen con la solicitud creada
            INSERT INTO ImagenesTipo
                (Id_TipoImagen, Id_Usuario, Id_SolicitudServicio, Id_Servicio, Id_imagen)
            SELECT
                2 AS Id_TipoImagen,              -- SolicitudServicio
                @Id_Usuario,
                @IdSolicitudCreada,
                NULL,
                Id_imagen
            FROM @ImgsInsertadas;
        END

        COMMIT TRAN;
        SET @Exito = 1;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @Exito = 0;
        -- si quieres propagar el error al caller, descomenta:
        -- THROW;
    END CATCH
END

GO
