USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[UsuarioActualiza]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Actualiza datos del usuario
-- =============================================
CREATE PROCEDURE [dbo].[UsuarioActualiza]
    @Id_Usuario   BIGINT,
    @US_Telefono  VARCHAR(50),
    @US_Biografia VARCHAR(250),
    @Id_Profesion BIGINT = NULL,   -- puede venir NULL
    @Exito        BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE Usuario
        SET US_Telefono  = @US_Telefono,
            US_Biografia = @US_Biografia,
            Id_Profesion = CASE 
                               WHEN @Id_Profesion = 0 THEN Id_Profesion  -- no actualizar profesión
                               ELSE @Id_Profesion                        -- aplica valor (incluye NULL)
                           END
        WHERE Id_Usuario = @Id_Usuario;

        IF @@ROWCOUNT > 0
            SET @Exito = 1;   -- actualizó algo
        ELSE
            SET @Exito = 0;   -- no encontró el usuario
    END TRY
    BEGIN CATCH
        SET @Exito = 0;       -- error en la ejecución
    END CATCH
END
GO
