USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[UsuarioCrear]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Valida si existe usuario y crea
-- =============================================
CREATE PROCEDURE [dbo].[UsuarioCrear]
    @Nombre           VARCHAR(50),
    @Apellido         VARCHAR(50),
    @RUT              VARCHAR(12),       -- ej: 12.345.678-9
    @Correo           VARCHAR(100),
    @Contrasena       VARCHAR(200),      -- ideal: hash, no texto plano
    @Telefono         VARCHAR(9),
    @FechaNacimiento  DATE,
    @Exito            BIT OUTPUT         -- 1 = insert OK, 0 = ya existe
AS
BEGIN
    SET NOCOUNT ON;

    -- Normalización mínima
    SET @Correo = LOWER(LTRIM(RTRIM(@Correo)));
    SET @RUT    = UPPER(REPLACE(REPLACE(LTRIM(RTRIM(@RUT)), '.', ''), ' ', ''));

    -- Si ya existe por correo o RUT => no inserta, Exito=0
    IF EXISTS (SELECT 1 FROM dbo.Usuario WHERE US_Email = @Correo)
    BEGIN
        SET @Exito = 0;
        RETURN;
    END

    -- Inserción (US_Id debe ser INT IDENTITY en la tabla Usuario)
    INSERT INTO dbo.Usuario (
        US_Nombre, US_Apellido, US_RUN, US_Email, US_Contrasena,
        US_Telefono, US_FechaNac, US_FechaReg, US_Activo, US_Biografia, US_Admin
    )
    VALUES (
        UPPER(TRIM(@Nombre)),
        UPPER(TRIM(@Apellido)),
        @RUT,
        @Correo,
        @Contrasena,              
        @Telefono,
        @FechaNacimiento,
        SYSUTCDATETIME(),        
        1,
        NULL,
		0
    );

    SET @Exito = 1;
END
GO
