USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaCategoria]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Manda las categorias para mostrar en la App
-- =============================================
CREATE PROCEDURE [dbo].[ConsultaCategoria]
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Categoria
	WHERE CAT_Habilitado = 1;
END
GO
