USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaOferta]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Consulta ofertas del usuario
-- Solo trae el servicio más reciente por oferta (último estado)
-- =============================================
CREATE PROCEDURE [dbo].[ConsultaOferta]
	@Id_Usuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    -- CTE para obtener solo el servicio más reciente por Id_Oferta
    WITH ServicioMasReciente AS (
        SELECT 
            Id_Servicio,
            Id_Oferta,
            Id_SolicitudServicio,
            Id_ServicioEstado,
            SE_FechaModifica,
            ROW_NUMBER() OVER (
                PARTITION BY Id_Oferta 
                ORDER BY SE_FechaModifica DESC
            ) AS RowNum
        FROM Servicio
    )
    SELECT 
        Oferta.Id_Oferta,
        SolicitudServicio.Id_SolicitudServicio, 
        ServicioMasReciente.Id_Servicio, 
        SolicitudServicio.Id_Usuario, 
        SolicitudServicio.Id_Categoria, 
        SolicitudServicio.Id_Comuna, 
        SolicitudServicio.SS_FechaCreacion, 
        SolicitudServicio.SS_FechaServicio, 
        SolicitudServicio.SS_Descripcion, 
        SolicitudServicio.SS_Titulo, 
        SolicitudServicio.SS_Latitud, 
        SolicitudServicio.SS_Longitud, 
        SolicitudServicio.SS_Contacto, 
        SolicitudServicio.SS_Direccion, 
        SolicitudServicio.SS_FechaLimiteOF, 
        SolicitudServicio.SS_FechaExpira,
        Oferta.OF_Monto, 
        Oferta.OF_Fecha,
        Oferta.OF_Comentario,
        Oferta.Id_OfertaEstado
    FROM Oferta 
    INNER JOIN SolicitudServicio
        ON Oferta.Id_SolicitudServicio = SolicitudServicio.Id_SolicitudServicio
    LEFT JOIN ServicioMasReciente
        ON ServicioMasReciente.Id_Oferta = Oferta.Id_Oferta
        AND ServicioMasReciente.RowNum = 1
    WHERE Oferta.Id_Usuario = @Id_Usuario;
END
GO
