USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[Comuna]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comuna](
	[Id_Comuna] [bigint] IDENTITY(1,1) NOT NULL,
	[COM_Nombre] [varchar](150) NOT NULL,
	[COM_Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_Comuna] PRIMARY KEY CLUSTERED 
(
	[Id_Comuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comuna] SET (LOCK_ESCALATION = AUTO)
GO
