USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[SolicitudServicio]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudServicio](
	[Id_SolicitudServicio] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_Servicio] [bigint] NULL,
	[Id_Usuario] [bigint] NOT NULL,
	[Id_Categoria] [bigint] NOT NULL,
	[Id_Comuna] [bigint] NOT NULL,
	[SS_FechaCreacion] [datetime] NOT NULL,
	[SS_FechaServicio] [datetime] NOT NULL,
	[SS_Descripcion] [varchar](max) NOT NULL,
	[SS_Titulo] [varchar](250) NOT NULL,
	[SS_Latitud] [decimal](10, 8) NOT NULL,
	[SS_Longitud] [decimal](11, 8) NOT NULL,
	[SS_Contacto] [numeric](18, 0) NOT NULL,
	[SS_Direccion] [varchar](max) NOT NULL,
	[SS_FechaLimiteOF] [datetime] NOT NULL,
	[SS_FechaExpira] [datetime] NOT NULL,
	[Id_SolicitudServicioEstado] [bigint] NOT NULL,
 CONSTRAINT [PK_SolicitudServicio] PRIMARY KEY CLUSTERED 
(
	[Id_SolicitudServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudServicio] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[SolicitudServicio]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudServicio_Categoria] FOREIGN KEY([Id_Categoria])
REFERENCES [dbo].[Categoria] ([Id_Categoria])
GO
ALTER TABLE [dbo].[SolicitudServicio] CHECK CONSTRAINT [FK_SolicitudServicio_Categoria]
GO
ALTER TABLE [dbo].[SolicitudServicio]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudServicio_Comuna] FOREIGN KEY([Id_Comuna])
REFERENCES [dbo].[Comuna] ([Id_Comuna])
GO
ALTER TABLE [dbo].[SolicitudServicio] CHECK CONSTRAINT [FK_SolicitudServicio_Comuna]
GO
ALTER TABLE [dbo].[SolicitudServicio]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudServicio_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[SolicitudServicio] CHECK CONSTRAINT [FK_SolicitudServicio_Usuario]
GO
