USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[SolicitudServicioCalificacion]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudServicioCalificacion](
	[Id_Calificacion] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_Servicio] [bigint] NOT NULL,
	[CAL_Puntuacion] [numeric](18, 0) NOT NULL,
	[CAL_Comentario] [varchar](250) NULL,
	[Id_Usuario] [bigint] NOT NULL,
	[Id_UsuarioCalificado] [bigint] NOT NULL,
	[CAL_Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Calificacion] PRIMARY KEY CLUSTERED 
(
	[Id_Calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Index [IX_Calificacion_Servicio_Usuario_UsuarioCalificado]    Script Date: 02-12-2025 1:23:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Calificacion_Servicio_Usuario_UsuarioCalificado] ON [dbo].[SolicitudServicioCalificacion]
(
	[Id_Servicio] ASC,
	[Id_Usuario] ASC,
	[Id_UsuarioCalificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion] ADD  DEFAULT ((0)) FOR [Id_Usuario]
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion] ADD  DEFAULT ((0)) FOR [Id_UsuarioCalificado]
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion] ADD  DEFAULT (getdate()) FOR [CAL_Fecha]
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion]  WITH CHECK ADD  CONSTRAINT [FK_Calificacion_Servicio] FOREIGN KEY([Id_Servicio])
REFERENCES [dbo].[Servicio] ([Id_Servicio])
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion] CHECK CONSTRAINT [FK_Calificacion_Servicio]
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion]  WITH CHECK ADD  CONSTRAINT [FK_Calificacion_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion] CHECK CONSTRAINT [FK_Calificacion_Usuario]
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion]  WITH CHECK ADD  CONSTRAINT [FK_Calificacion_UsuarioCalificado] FOREIGN KEY([Id_UsuarioCalificado])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[SolicitudServicioCalificacion] CHECK CONSTRAINT [FK_Calificacion_UsuarioCalificado]
GO
