USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[ImagenesTipo]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagenesTipo](
	[Id_TipoImagen] [bigint] NOT NULL,
	[Id_Usuario] [bigint] NOT NULL,
	[Id_SolicitudServicio] [bigint] NULL,
	[Id_Servicio] [bigint] NULL,
	[Id_imagen] [bigint] NOT NULL,
	[Id_ComprobantePago] [bigint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImagenesTipo] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[ImagenesTipo]  WITH CHECK ADD  CONSTRAINT [FK_ImagenesTipo_ComprobantePago] FOREIGN KEY([Id_ComprobantePago])
REFERENCES [dbo].[ComprobantePago] ([Id_ComprobantePago])
GO
ALTER TABLE [dbo].[ImagenesTipo] CHECK CONSTRAINT [FK_ImagenesTipo_ComprobantePago]
GO
ALTER TABLE [dbo].[ImagenesTipo]  WITH CHECK ADD  CONSTRAINT [FK_RelacionImagenTipo_Imagen] FOREIGN KEY([Id_imagen])
REFERENCES [dbo].[Imagen] ([Id_Imagen])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImagenesTipo] CHECK CONSTRAINT [FK_RelacionImagenTipo_Imagen]
GO
ALTER TABLE [dbo].[ImagenesTipo]  WITH CHECK ADD  CONSTRAINT [FK_RelacionImagenTipo_Servicio] FOREIGN KEY([Id_Servicio])
REFERENCES [dbo].[Servicio] ([Id_Servicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImagenesTipo] CHECK CONSTRAINT [FK_RelacionImagenTipo_Servicio]
GO
ALTER TABLE [dbo].[ImagenesTipo]  WITH CHECK ADD  CONSTRAINT [FK_RelacionImagenTipo_SolicitudServicio] FOREIGN KEY([Id_SolicitudServicio])
REFERENCES [dbo].[SolicitudServicio] ([Id_SolicitudServicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImagenesTipo] CHECK CONSTRAINT [FK_RelacionImagenTipo_SolicitudServicio]
GO
ALTER TABLE [dbo].[ImagenesTipo]  WITH CHECK ADD  CONSTRAINT [FK_RelacionImagenTipo_TipoImagen] FOREIGN KEY([Id_TipoImagen])
REFERENCES [dbo].[TipoImagen] ([Id_TipoImagen])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImagenesTipo] CHECK CONSTRAINT [FK_RelacionImagenTipo_TipoImagen]
GO
ALTER TABLE [dbo].[ImagenesTipo]  WITH CHECK ADD  CONSTRAINT [FK_RelacionImagenTipo_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImagenesTipo] CHECK CONSTRAINT [FK_RelacionImagenTipo_Usuario]
GO
