USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[Profesion]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesion](
	[Id_Profesion] [bigint] IDENTITY(1,1) NOT NULL,
	[PR_Nombre] [varchar](50) NOT NULL,
	[PR_Habilitado] [bit] NOT NULL,
	[PR_Color] [varchar](50) NOT NULL,
	[PR_Icono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Profesion] PRIMARY KEY CLUSTERED 
(
	[Id_Profesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Profesion] SET (LOCK_ESCALATION = AUTO)
GO
