USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[Id_Servicio] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_SolicitudServicio] [bigint] NOT NULL,
	[Id_Oferta] [bigint] NOT NULL,
	[Id_Usuario] [bigint] NOT NULL,
	[Id_ServicioEstado] [bigint] NOT NULL,
	[SE_FechaModifica] [datetime] NOT NULL,
	[SE_Comentario] [varchar](max) NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[Id_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Servicio] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_Oferta] FOREIGN KEY([Id_Oferta])
REFERENCES [dbo].[Oferta] ([Id_Oferta])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_Oferta]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_ServicioEstado] FOREIGN KEY([Id_ServicioEstado])
REFERENCES [dbo].[ServicioEstado] ([Id_ServicioEstado])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_ServicioEstado]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_SolicitudServicio] FOREIGN KEY([Id_SolicitudServicio])
REFERENCES [dbo].[SolicitudServicio] ([Id_SolicitudServicio])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_SolicitudServicio]
GO
