USE [ServiMapp.Enterprise]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_ImagenSolicitudServicio]    Script Date: 02-12-2025 1:23:15 ******/
CREATE TYPE [dbo].[TVP_ImagenSolicitudServicio] AS TABLE(
	[IMG_Archivo] [varchar](260) NOT NULL,
	[IMG_Imagen] [varbinary](max) NOT NULL
)
GO
