USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ComprobantePagoConfirmar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Confirma el cierre del servicio por parte del proveedor
-- Actualiza el comprobante y cambia el estado del servicio a "Completado"
-- =============================================
CREATE PROCEDURE [dbo].[ComprobantePagoConfirmar]
    @Id_Servicio BIGINT,
    @Id_Usuario BIGINT, -- Proveedor que confirma
    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Exito = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar que el servicio existe y el usuario es el proveedor
        IF NOT EXISTS (
            SELECT 1 
            FROM Servicio S
            INNER JOIN Oferta O ON S.Id_Oferta = O.Id_Oferta
            WHERE S.Id_Servicio = @Id_Servicio 
            AND O.Id_Usuario = @Id_Usuario
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Verificar que existe un comprobante pendiente
        IF NOT EXISTS (
            SELECT 1 
            FROM ComprobantePago 
            WHERE Id_Servicio = @Id_Servicio 
            AND CP_Confirmado = 0 
            AND CP_Rechazado = 0
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Actualizar el comprobante
        UPDATE ComprobantePago
        SET 
            CP_Confirmado = 1,
            CP_FechaConfirmacion = GETDATE(),
            Id_UsuarioConfirmador = @Id_Usuario
        WHERE Id_Servicio = @Id_Servicio
        AND CP_Confirmado = 0
        AND CP_Rechazado = 0;

        -- Obtener el Id del estado "Completado"
        DECLARE @Id_EstadoCompletado BIGINT;
        SELECT @Id_EstadoCompletado = Id_ServicioEstado 
        FROM ServicioEstado 
        WHERE Id_ServicioEstado = 8;

        IF @Id_EstadoCompletado IS NOT NULL
        BEGIN
            -- Insertar nuevo registro de servicio con estado "Completado" (auditoría)
            INSERT INTO Servicio (
                Id_SolicitudServicio,
                Id_Oferta,
                Id_Usuario,
                Id_ServicioEstado,
                SE_FechaModifica
            )
            SELECT 
                Id_SolicitudServicio,
                Id_Oferta,
                Id_Usuario,
                @Id_EstadoCompletado,
                GETDATE()
            FROM Servicio
            WHERE Id_Servicio = @Id_Servicio;
        END

        SET @Exito = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @Exito = 0;
        THROW;
    END CATCH
END
GO
