USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ServicioCancelar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Cancela un servicio, creando un nuevo registro con estado cancelado
-- Valida que el servicio esté en un estado que permita cancelación
-- @Id_Servicio: ID del servicio a cancelar
-- @Id_Usuario: ID del usuario que cancela (cliente o proveedor)
-- @SE_Comentario: Motivo de la cancelación
-- @Exito: OUTPUT - Indica si la operación fue exitosa
-- =============================================
CREATE PROCEDURE [dbo].[ServicioCancelar]
    @Id_Servicio BIGINT,
    @Id_Usuario BIGINT,
    @SE_Comentario NVARCHAR(MAX),
    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Exito = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener datos del servicio actual
        DECLARE @Id_SolicitudServicio BIGINT;
        DECLARE @Id_Oferta BIGINT;
        DECLARE @Id_Usuario_Cliente BIGINT;
        DECLARE @Id_ServicioEstado BIGINT;
        DECLARE @SE_FechaModifica DATETIME = GETDATE();

        SELECT 
            @Id_SolicitudServicio = Id_SolicitudServicio,
            @Id_Oferta = Id_Oferta,
            @Id_Usuario_Cliente = Id_Usuario,
            @Id_ServicioEstado = Id_ServicioEstado
        FROM Servicio
        WHERE Id_Servicio = @Id_Servicio;

        -- Verificar que el servicio existe
        IF @Id_SolicitudServicio IS NULL
        BEGIN
            SET @Exito = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validar que el servicio no esté ya cancelado
        -- Estado 5 = CANCELADA POR CLIENTE
        -- Estado 6 = CANCELADA POR PROVEEDOR
        IF @Id_ServicioEstado = 5 OR @Id_ServicioEstado = 6
        BEGIN
            SET @Exito = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validar que el servicio no esté completado
        -- Estado 8 = COMPLETADO
        IF @Id_ServicioEstado = 8
        BEGIN
            SET @Exito = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validar que el servicio esté en un estado que permita cancelación
        -- Solo se puede cancelar si está en estado 1 (CREADA) o 7 (PAGO PENDIENTE CONFIRMACION)
        -- Estado 1 = CREADA
        -- Estado 7 = PAGO PENDIENTE CONFIRMACION
        IF @Id_ServicioEstado NOT IN (1, 7)
        BEGIN
            SET @Exito = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Obtener el Id_Usuario del proveedor desde la oferta
        DECLARE @Id_Usuario_Proveedor BIGINT;
        SELECT @Id_Usuario_Proveedor = Id_Usuario
        FROM Oferta
        WHERE Id_Oferta = @Id_Oferta;

        -- Determinar el estado según quién cancela
        -- Estado 5 = CANCELADA POR CLIENTE
        -- Estado 6 = CANCELADA POR PROVEEDOR
        DECLARE @NuevoEstadoServicio BIGINT;
        
        IF @Id_Usuario = @Id_Usuario_Cliente
        BEGIN
            SET @NuevoEstadoServicio = 5; -- Cliente cancela
        END
        ELSE IF @Id_Usuario = @Id_Usuario_Proveedor
        BEGIN
            SET @NuevoEstadoServicio = 6; -- Proveedor cancela
        END
        ELSE
        BEGIN
            -- Usuario no es ni cliente ni proveedor
            SET @Exito = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insertar nuevo registro del servicio con estado cancelado
        INSERT INTO Servicio (
            Id_SolicitudServicio,
            Id_Oferta,
            Id_Usuario,
            Id_ServicioEstado,
            SE_FechaModifica,
            SE_Comentario
        )
        VALUES (
            @Id_SolicitudServicio,
            @Id_Oferta,
            @Id_Usuario_Cliente, -- Mantener el cliente original
            @NuevoEstadoServicio,
            @SE_FechaModifica,
            @SE_Comentario
        );

        -- Actualizar el estado de la oferta a 8 (Servicio Cancelado)
        -- Solo si el servicio estaba en estado 1 (CREADA)
        -- Si estaba en estado 7 (PAGO PENDIENTE CONFIRMACION), la oferta ya podría estar en otro estado
        IF @Id_ServicioEstado = 1
        BEGIN
            UPDATE Oferta
            SET Id_OfertaEstado = 8
            WHERE Id_Oferta = @Id_Oferta;
        END

        -- Actualizar el estado de la solicitud a 6 (Cancelada)
        -- Solo si el servicio estaba en estado 1 (CREADA)
        -- Si estaba en estado 7 (PAGO PENDIENTE CONFIRMACION), la solicitud ya podría estar en otro estado
        IF @Id_ServicioEstado = 1
        BEGIN
            UPDATE SolicitudServicio
            SET Id_SolicitudServicioEstado = 6
            WHERE Id_SolicitudServicio = @Id_SolicitudServicio;
        END

        SET @Exito = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @Exito = 0;
        THROW;
    END CATCH
END
GO
