USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaProfesion]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Manda las profesiones para mostrar en la App
-- =============================================
CREATE PROCEDURE [dbo].[ConsultaProfesion]
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Profesion
	WHERE PR_Habilitado = 1;
END
GO
