USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[InsertarImagen]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Guarda las imagenes dependiendo del tipo
-- =============================================
CREATE PROCEDURE [dbo].[InsertarImagen]
    @IMG_Archivo VARCHAR(260),
    @IMG_Imagen VARBINARY(MAX),
    @Id_SolicitudServicio BIGINT = NULL,
    @Id_Usuario BIGINT,
    @Id_Servicio BIGINT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        DECLARE @IdImagen BIGINT;
        DECLARE @IdTipoImagen BIGINT;

        -- (opcional pero recomendable) evitar ambigüedad
        IF (@Id_SolicitudServicio IS NOT NULL AND @Id_Servicio IS NOT NULL)
            THROW 50001, 'No pueden venir Id_SolicitudServicio e Id_Servicio juntos.', 1;

        -- Determinar tipo
        IF (@Id_SolicitudServicio IS NOT NULL)
            SET @IdTipoImagen = 2;   -- SolicitudServicio
        ELSE IF (@Id_Servicio IS NOT NULL)
            SET @IdTipoImagen = 3;   -- Servicio
        ELSE
            SET @IdTipoImagen = 1;   -- Perfil

        -- ==========================
        -- PERFIL: SOLO UPDATE
        -- ==========================
        IF (@IdTipoImagen = 1)
        BEGIN
            -- Buscar imagen de perfil actual
            SELECT TOP 1 @IdImagen = r.Id_imagen
            FROM ImagenesTipo r
            INNER JOIN Imagen i ON i.Id_imagen = r.Id_imagen
            WHERE r.Id_Usuario = @Id_Usuario
              AND r.Id_TipoImagen = 1
            ORDER BY i.IMG_Fecha DESC, i.Id_imagen DESC;

            IF (@IdImagen IS NOT NULL)
            BEGIN
                -- Reemplazar contenido de la misma imagen
                UPDATE Imagen
                SET IMG_Imagen = @IMG_Imagen,
                    IMG_Archivo = @IMG_Archivo,
                    IMG_Fecha = GETDATE()
                WHERE Id_imagen = @IdImagen;
            END
            ELSE
            BEGIN
                -- No tenía foto perfil aún: insertar y relacionar
                INSERT INTO Imagen (IMG_Imagen, IMG_Archivo, IMG_Fecha)
                VALUES (@IMG_Imagen, @IMG_Archivo, GETDATE());

                SET @IdImagen = SCOPE_IDENTITY();

                INSERT INTO ImagenesTipo
                    (Id_TipoImagen, Id_Usuario, Id_SolicitudServicio, Id_Servicio, Id_imagen)
                VALUES
                    (1, @Id_Usuario, NULL, NULL, @IdImagen);
            END
        END
        ELSE
        BEGIN
            -- ==========================
            -- NO PERFIL: INSERT NORMAL
            -- ==========================
            INSERT INTO Imagen (IMG_Imagen, IMG_Archivo, IMG_Fecha)
            VALUES (@IMG_Imagen, @IMG_Archivo, GETDATE());

            SET @IdImagen = SCOPE_IDENTITY();

            INSERT INTO ImagenesTipo
                (Id_TipoImagen, Id_Usuario, Id_SolicitudServicio, Id_Servicio, Id_imagen)
            VALUES
                (@IdTipoImagen, @Id_Usuario, @Id_SolicitudServicio, @Id_Servicio, @IdImagen);
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
