USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ComprobantePagoConsultar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Consulta el comprobante de pago de un servicio
-- =============================================
CREATE PROCEDURE [dbo].[ComprobantePagoConsultar]
    @Id_Servicio BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CP.Id_ComprobantePago,
        CP.Id_Servicio,
        CP.Id_Usuario,
        CP.CP_Comentario,
        CP.CP_FechaSubida,
        CP.CP_Confirmado,
        CP.CP_FechaConfirmacion,
        CP.Id_UsuarioConfirmador,
        CP.CP_Rechazado,
        CP.CP_MotivoRechazo,
        -- Información del usuario que subió el comprobante
        Usuario.US_Nombre + ' ' + Usuario.US_Apellido AS Usuario_Nombre
    FROM ComprobantePago CP
    INNER JOIN Usuario ON CP.Id_Usuario = Usuario.Id_Usuario
    WHERE CP.Id_Servicio = @Id_Servicio
    ORDER BY CP.CP_FechaSubida DESC;
END
GO
