USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ComprobantePagoInsertar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ComprobantePagoInsertar]
    @Id_Servicio BIGINT,
    @Id_Usuario BIGINT,
    @CP_Comentario NVARCHAR(MAX) = NULL,
    @Imagenes dbo.TVP_ImagenSolicitudServicio READONLY,
    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Exito = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar que el servicio existe y el usuario es el cliente
        IF NOT EXISTS (
            SELECT 1 
            FROM Servicio 
            WHERE Id_Servicio = @Id_Servicio 
              AND Id_Usuario = @Id_Usuario
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insertar el comprobante
        DECLARE @Id_ComprobantePago BIGINT;

        INSERT INTO ComprobantePago (
            Id_Servicio,
            Id_Usuario,
            CP_Comentario,
            CP_FechaSubida,
            CP_Confirmado,
            CP_Rechazado
        )
        VALUES (
            @Id_Servicio,
            @Id_Usuario,
            @CP_Comentario,
            GETDATE(),
            0,
            0
        );

        SET @Id_ComprobantePago = SCOPE_IDENTITY();

        -- Tipo de imagen para Comprobante (Id_TipoImagen = 4)
        DECLARE @Id_TipoImagen BIGINT = 4;

        -- Insertar imágenes (si vienen)
        IF EXISTS (SELECT 1 FROM @Imagenes)
        BEGIN
            DECLARE @Id_Imagen BIGINT;
            DECLARE @IMG_Archivo VARCHAR(260);
            DECLARE @IMG_Imagen VARBINARY(MAX);

            DECLARE img_cursor CURSOR FOR
                SELECT IMG_Archivo, IMG_Imagen
                FROM @Imagenes;

            OPEN img_cursor;
            FETCH NEXT FROM img_cursor INTO @IMG_Archivo, @IMG_Imagen;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                INSERT INTO Imagen (IMG_Imagen, IMG_Archivo, IMG_Fecha)
                VALUES (@IMG_Imagen, @IMG_Archivo, GETDATE());

                SET @Id_Imagen = SCOPE_IDENTITY();

                INSERT INTO ImagenesTipo (
                    Id_TipoImagen,
                    Id_Usuario,
                    Id_SolicitudServicio,
                    Id_Servicio,
                    Id_ComprobantePago,
                    Id_imagen
                )
                VALUES (
                    @Id_TipoImagen,
                    @Id_Usuario,
                    NULL,
                    NULL,
                    @Id_ComprobantePago,
                    @Id_Imagen
                );

                FETCH NEXT FROM img_cursor INTO @IMG_Archivo, @IMG_Imagen;
            END;

            CLOSE img_cursor;
            DEALLOCATE img_cursor;
        END

        -- Estado "PAGO PENDIENTE CONFIRMACION" (Id = 7)
        DECLARE @Id_EstadoPagoPendiente BIGINT = 7;
        DECLARE @Id_ServicioNuevo BIGINT;

        -- Insertar nuevo registro de servicio con el nuevo estado (historial)
        INSERT INTO Servicio (
            Id_SolicitudServicio,
            Id_Oferta,
            Id_Usuario,
            Id_ServicioEstado,
            SE_FechaModifica
        )
        SELECT 
            Id_SolicitudServicio,
            Id_Oferta,
            Id_Usuario,
            @Id_EstadoPagoPendiente,
            GETDATE()
        FROM Servicio
        WHERE Id_Servicio = @Id_Servicio;

        SET @Id_ServicioNuevo = SCOPE_IDENTITY();

        -- Actualizar el comprobante para que apunte al nuevo Id_Servicio (estado 7)
        UPDATE ComprobantePago
        SET Id_Servicio = @Id_ServicioNuevo
        WHERE Id_ComprobantePago = @Id_ComprobantePago;

        SET @Exito = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @Exito = 0;
        THROW;
    END CATCH
END
GO
