USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaServicioEstados]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Envia los estados del servicio
-- =============================================
CREATE PROCEDURE [dbo].[ConsultaServicioEstados]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM ServicioEstado
END
GO
