USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[SolicitudServicioConsultaImagen]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Envia las imagenes de las solicitudes de servicio
-- =============================================
CREATE PROCEDURE [dbo].[SolicitudServicioConsultaImagen]
    @Id_SolicitudServicio BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        i.Id_imagen     AS Id_Imagen,
        i.IMG_Imagen,
        r.Id_SolicitudServicio,
        i.IMG_Archivo
    FROM ImagenesTipo r
    INNER JOIN Imagen i 
        ON i.Id_imagen = r.Id_imagen
    WHERE r.Id_TipoImagen = 2
      AND r.Id_SolicitudServicio = @Id_SolicitudServicio
    ORDER BY i.IMG_Fecha DESC;
END
GO
