USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ServicioConsultaProveedor]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Consulta servicios donde el usuario es el PROVEEDOR
-- Solo trae el registro más reciente de cada servicio (último estado)
-- =============================================
CREATE PROCEDURE [dbo].[ServicioConsultaProveedor]
    @Id_Usuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    WITH ServiciosRankeados AS (
        SELECT 
            Servicio.Id_Servicio,
            Servicio.Id_SolicitudServicio,
            Servicio.Id_Oferta,
            Servicio.Id_Usuario AS Id_Usuario_Cliente,
            Servicio.Id_ServicioEstado,
            Servicio.SE_FechaModifica,
            SolicitudServicio.SS_Titulo,
            Oferta.OF_Monto,
            Oferta.Id_Usuario AS Id_Usuario_Proveedor,
            ROW_NUMBER() OVER (
                PARTITION BY Servicio.Id_SolicitudServicio, Servicio.Id_Oferta 
                ORDER BY Servicio.SE_FechaModifica DESC
            ) AS RowNum
        FROM Servicio
        INNER JOIN Oferta 
            ON Servicio.Id_Oferta = Oferta.Id_Oferta
        LEFT JOIN SolicitudServicio 
            ON Servicio.Id_SolicitudServicio = SolicitudServicio.Id_SolicitudServicio
        WHERE Oferta.Id_Usuario = @Id_Usuario
    )
    SELECT 
        Id_Servicio,
        Id_SolicitudServicio,
        Id_Oferta,
        Id_Usuario_Cliente,
        Id_ServicioEstado,
        SE_FechaModifica,
        SS_Titulo,
        OF_Monto,
        Id_Usuario_Proveedor
    FROM ServiciosRankeados
    WHERE RowNum = 1
    ORDER BY SE_FechaModifica DESC;
END
GO
