USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[OfertaRechazar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	rechaza la oferta 
-- =============================================
CREATE PROCEDURE [dbo].[OfertaRechazar]
    @Id_Oferta BIGINT,
    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Valor por defecto
    SET @Exito = 0;

    BEGIN TRY
        UPDATE dbo.Oferta
        SET Id_OfertaEstado = 3
        WHERE Id_Oferta = @Id_Oferta;

        IF @@ROWCOUNT = 0
        BEGIN
            -- No se encontró la oferta a actualizar
            SET @Exito = 0;
            RETURN;
        END;

        -- Si llegó aquí, se actualizó bien
        SET @Exito = 1;
    END TRY
    BEGIN CATCH
        -- En error, marcamos Exito = 0
        SET @Exito = 0;
    END CATCH
END;

GO
