USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[SolicitudServicioCancelar]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Cancela la solicitud de servcio
-- =============================================
CREATE PROCEDURE [dbo].[SolicitudServicioCancelar]
    @Id_SolicitudServicio BIGINT,
    @Exito BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Valor por defecto
    SET @Exito = 0;

    BEGIN TRY
        BEGIN TRAN;

        -- 1) Cancelar la solicitud
        UPDATE ss
        SET Id_SolicitudServicioEstado = 3
        FROM dbo.SolicitudServicio ss
        WHERE ss.Id_SolicitudServicio = @Id_SolicitudServicio;

        -- Si no se encontró la solicitud, salimos
        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRAN;
            RETURN;
        END;

        -- 2) Si existen ofertas ligadas a esta solicitud, ponerlas en estado 5
        IF EXISTS (SELECT 1
                   FROM dbo.Oferta o
                   WHERE o.Id_SolicitudServicio = @Id_SolicitudServicio)
        BEGIN
            UPDATE o
            SET Id_OfertaEstado = 5
            FROM dbo.Oferta o
            WHERE o.Id_SolicitudServicio = @Id_SolicitudServicio;
        END;

        COMMIT TRAN;

        -- Todo OK
        SET @Exito = 1;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;

        SET @Exito = 0;
    END CATCH
END;
GO
