USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ServicioConsulta]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Description: Consulta todos los datos de un servicio por su ID
-- =============================================
CREATE PROCEDURE [dbo].[ServicioConsulta]
    @Id_Servicio BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Datos del Servicio
        Servicio.Id_Servicio,
        Servicio.Id_SolicitudServicio,
        Servicio.Id_Oferta,
        Servicio.Id_Usuario AS Id_Usuario_Cliente,
        Servicio.Id_ServicioEstado,
        Servicio.SE_FechaModifica,
        
        -- Datos de la SolicitudServicio
        SolicitudServicio.SS_Titulo,
        SolicitudServicio.SS_Descripcion,
        SolicitudServicio.SS_Direccion,
        SolicitudServicio.SS_FechaServicio,
        SolicitudServicio.SS_FechaCreacion,
        SolicitudServicio.SS_FechaExpira,
        SolicitudServicio.SS_Latitud,
        SolicitudServicio.SS_Longitud,
        SolicitudServicio.SS_Contacto,
        SolicitudServicio.Id_Categoria,
        SolicitudServicio.Id_Comuna,
        
        -- Datos de la Oferta
        Oferta.OF_Monto,
        Oferta.OF_Fecha AS OF_FechaOferta,
        Oferta.OF_Comentario,
        Oferta.Id_Usuario AS Id_Usuario_Proveedor,
        
        -- Datos de Categoria
        Categoria.Id_Categoria,
        Categoria.CAT_Nombre AS CA_Nombre,
        
        -- Datos de Comuna
        Comuna.Id_Comuna,
        Comuna.COM_Nombre AS CO_Nombre
        
    FROM Servicio
    
    -- JOIN con SolicitudServicio para obtener info de la solicitud original
    INNER JOIN SolicitudServicio
        ON Servicio.Id_SolicitudServicio = SolicitudServicio.Id_SolicitudServicio
    
    -- JOIN con Oferta para obtener info de la oferta
    INNER JOIN Oferta
        ON Servicio.Id_Oferta = Oferta.Id_Oferta
    
    -- JOIN con Categoria
    INNER JOIN Categoria
        ON SolicitudServicio.Id_Categoria = Categoria.Id_Categoria
    
    -- JOIN con Comuna
    LEFT JOIN Comuna
        ON SolicitudServicio.Id_Comuna = Comuna.Id_Comuna
    
    WHERE Servicio.Id_Servicio = @Id_Servicio;
END

GO
