USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaSolicitudEstados]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Consulta los estados de la solicitud
-- =============================================
CREATE PROCEDURE [dbo].[ConsultaSolicitudEstados]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM SolicitudServicioEstado
END
GO
