USE [ServiMapp.Enterprise]
GO
/****** Object:  StoredProcedure [dbo].[ServicioCrear]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Cancela la solicitud de servcio, y actualiza los estados respectivos.
-- =============================================
CREATE PROCEDURE [dbo].[ServicioCrear]
    @Id_SolicitudServicio BIGINT, 
    @Id_Oferta           BIGINT, 
    @Id_Usuario          BIGINT, 
    @SE_FechaModifica    DATETIME,
    @Exito               BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Valor por defecto
    SET @Exito = 0;

    BEGIN TRY
        BEGIN TRAN;

        DECLARE @NuevoID BIGINT;

        -- 1) Crear el servicio
        INSERT INTO dbo.Servicio (
            Id_SolicitudServicio, 
            Id_Oferta, 
            Id_Usuario, 
            Id_ServicioEstado, 
            SE_FechaModifica
        )
        VALUES (
            @Id_SolicitudServicio, 
            @Id_Oferta, 
            @Id_Usuario, 
            1,                    -- Estado inicial del servicio
            @SE_FechaModifica
        );

        SET @NuevoID = CONVERT(BIGINT, SCOPE_IDENTITY());

        -- 2) Actualizar la solicitud:
        --    - guardar Id_Servicio
        --    - cambiar estado a 2
        UPDATE ss
        SET    ss.Id_Servicio = @NuevoID,
               ss.Id_SolicitudServicioEstado = 2
        FROM   dbo.SolicitudServicio ss
        WHERE  ss.Id_SolicitudServicio = @Id_SolicitudServicio;

        IF @@ROWCOUNT = 0
        BEGIN
            -- No se encontró la solicitud
            ROLLBACK TRAN;
            RETURN;
        END;

        -- 3) Oferta seleccionada -> estado 2
        UPDATE o
        SET    o.Id_OfertaEstado = 2
        FROM   dbo.Oferta o
        WHERE  o.Id_Oferta = @Id_Oferta
        AND    o.Id_SolicitudServicio = @Id_SolicitudServicio;

        IF @@ROWCOUNT = 0
        BEGIN
            -- No se encontró la oferta seleccionada ligada a esa solicitud
            ROLLBACK TRAN;
            RETURN;
        END;

        -- 4) Otras ofertas de la misma solicitud -> estado 3
        UPDATE o
        SET    o.Id_OfertaEstado = 3
        FROM   dbo.Oferta o
        WHERE  o.Id_SolicitudServicio = @Id_SolicitudServicio
        AND    o.Id_Oferta <> @Id_Oferta;

        COMMIT TRAN;

        SET @Exito = 1;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;

        SET @Exito = 0;
    END CATCH
END;

GO
