USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[ComprobantePago]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobantePago](
	[Id_ComprobantePago] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_Servicio] [bigint] NOT NULL,
	[Id_Usuario] [bigint] NOT NULL,
	[CP_Comentario] [nvarchar](max) NULL,
	[CP_FechaSubida] [datetime] NOT NULL,
	[CP_Confirmado] [bit] NOT NULL,
	[CP_FechaConfirmacion] [datetime] NULL,
	[Id_UsuarioConfirmador] [bigint] NULL,
	[CP_Rechazado] [bit] NOT NULL,
	[CP_MotivoRechazo] [nvarchar](max) NULL,
 CONSTRAINT [PK_ComprobantePago] PRIMARY KEY CLUSTERED 
(
	[Id_ComprobantePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComprobantePago] ADD  DEFAULT ((0)) FOR [CP_Confirmado]
GO
ALTER TABLE [dbo].[ComprobantePago] ADD  DEFAULT ((0)) FOR [CP_Rechazado]
GO
ALTER TABLE [dbo].[ComprobantePago]  WITH CHECK ADD  CONSTRAINT [FK_ComprobantePago_Servicio] FOREIGN KEY([Id_Servicio])
REFERENCES [dbo].[Servicio] ([Id_Servicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComprobantePago] CHECK CONSTRAINT [FK_ComprobantePago_Servicio]
GO
ALTER TABLE [dbo].[ComprobantePago]  WITH CHECK ADD  CONSTRAINT [FK_ComprobantePago_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[ComprobantePago] CHECK CONSTRAINT [FK_ComprobantePago_Usuario]
GO
ALTER TABLE [dbo].[ComprobantePago]  WITH CHECK ADD  CONSTRAINT [FK_ComprobantePago_UsuarioConfirmador] FOREIGN KEY([Id_UsuarioConfirmador])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[ComprobantePago] CHECK CONSTRAINT [FK_ComprobantePago_UsuarioConfirmador]
GO
