USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[Imagen]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagen](
	[Id_Imagen] [bigint] IDENTITY(1,1) NOT NULL,
	[IMG_Imagen] [varbinary](max) NOT NULL,
	[IMG_Archivo] [varchar](250) NOT NULL,
	[IMG_Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_ImagenSolicitudServicio] PRIMARY KEY CLUSTERED 
(
	[Id_Imagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Imagen] SET (LOCK_ESCALATION = AUTO)
GO
