USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[ServicioEstado]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicioEstado](
	[Id_ServicioEstado] [bigint] IDENTITY(1,1) NOT NULL,
	[SEE_Nombre] [varchar](150) NOT NULL,
	[SEE_Modifica] [bit] NOT NULL,
 CONSTRAINT [PK_ServicioEstado] PRIMARY KEY CLUSTERED 
(
	[Id_ServicioEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServicioEstado] SET (LOCK_ESCALATION = AUTO)
GO
