USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[TipoImagen]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoImagen](
	[Id_TipoImagen] [bigint] IDENTITY(1,1) NOT NULL,
	[TI_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoImagen] PRIMARY KEY CLUSTERED 
(
	[Id_TipoImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TipoImagen] SET (LOCK_ESCALATION = AUTO)
GO
