USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[Oferta]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[Id_Oferta] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_SolicitudServicio] [bigint] NOT NULL,
	[Id_Usuario] [bigint] NOT NULL,
	[OF_Monto] [numeric](18, 0) NOT NULL,
	[OF_Fecha] [datetime] NOT NULL,
	[OF_Comentario] [text] NULL,
	[Id_OfertaEstado] [bigint] NOT NULL,
 CONSTRAINT [PK_Oferta] PRIMARY KEY CLUSTERED 
(
	[Id_Oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Oferta] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_SolicitudServicio] FOREIGN KEY([Id_SolicitudServicio])
REFERENCES [dbo].[SolicitudServicio] ([Id_SolicitudServicio])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK_Oferta_SolicitudServicio]
GO
