USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id_Categoria] [bigint] IDENTITY(1,1) NOT NULL,
	[CAT_Nombre] [varchar](150) NOT NULL,
	[CAT_Descripcion] [varchar](250) NULL,
	[CAT_Habilitado] [bit] NOT NULL,
	[CAT_Icono] [varchar](50) NULL,
	[CAT_Color] [varchar](50) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] SET (LOCK_ESCALATION = AUTO)
GO
