USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[US_RUN] [varchar](12) NOT NULL,
	[US_Nombre] [varchar](50) NOT NULL,
	[US_Apellido] [varchar](50) NOT NULL,
	[US_Email] [varchar](150) NOT NULL,
	[US_Contrasena] [text] NOT NULL,
	[US_Activo] [bit] NOT NULL,
	[US_Telefono] [varchar](50) NOT NULL,
	[US_Biografia] [varchar](500) NULL,
	[US_FechaNac] [datetime] NOT NULL,
	[US_FechaReg] [datetime] NOT NULL,
	[US_Admin] [bit] NOT NULL,
	[Id_Profesion] [bigint] NULL,
	[Id_PuntuacionUsuario] [bigint] NULL,
	[Id_PuntuacionProveedor] [bigint] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Profesion] FOREIGN KEY([Id_Profesion])
REFERENCES [dbo].[Profesion] ([Id_Profesion])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Profesion]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_PuntuacionProveedor] FOREIGN KEY([Id_PuntuacionProveedor])
REFERENCES [dbo].[PuntuacionProveedor] ([Id_PuntuacionProveedor])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_PuntuacionProveedor]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_PuntuacionUsuario] FOREIGN KEY([Id_PuntuacionUsuario])
REFERENCES [dbo].[PuntuacionUsuario] ([Id_PuntuacionUsuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_PuntuacionUsuario]
GO
