USE [ServiMapp.Enterprise]
GO
/****** Object:  Table [dbo].[PuntuacionProveedor]    Script Date: 02-12-2025 1:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntuacionProveedor](
	[Id_PuntuacionProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[PUP_Numero] [bigint] NOT NULL,
 CONSTRAINT [PK_PuntuacionProveedor] PRIMARY KEY CLUSTERED 
(
	[Id_PuntuacionProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PuntuacionProveedor] SET (LOCK_ESCALATION = AUTO)
GO
